# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

    1. Numpy
    1. pandas
    3. Matplotlib
    4. Plotly
    5. Seaborn

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|Spyder|
|Orange|
|Apavhe|
|Airflow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives**:
* Some of the popular languages that Data Scientists
* Some of the commonly used libraries used by Data Scientists
*  arithmetic expressions in Python

## Dhana sai  
Author